.sidebar {
    position: absolute;
    top: 0;
    left: -40vw;
    width: 40vw;
    min-width: fit-content;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 1;
    overflow: auto;
}
.sidebar > * {
    user-select: none;
}

@media (max-width: 900px) {
    .sidebar {
        width: 100vw;
        left: -100vw;
    }
    .apply-sugiyama-button {
        left: 2vw;
    }
}

.sidebar.open {
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.sidebar.dark {
    background-color: #212121;
    color: white;
    border-right: 2px solid white;
}

.sidebar.light {
    background-color: white;
    color: black;
    border-right: 2px solid #002e57;
}

.sidebar::-webkit-scrollbar {
    width: 0.3vw;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.sidebar.dark::-webkit-scrollbar-thumb {
    background-color: white;
}

.sidebar.light::-webkit-scrollbar-thumb {
    background-color: #033561;
}

.sidebar-category.not-first {
    margin: 2% 0;
}

.sidebar-category.open {} /* The open refers to the content beneath the title and toggle icon. */

.sidebar-category.dark {}

.sidebar-category.light {}

.sidebar-category-title {
    display: grid;
    grid-template-columns: 98% 2%;
    cursor: pointer;
    padding: 2%;
}

.sidebar-category-title.dark {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.sidebar-category-title.dark:hover {
    background-color: #333333;
}

.sidebar-category-title.light {
    border-top: 2px solid #002e57;
    border-bottom: 2px solid #002e57;
}

.sidebar-category-title.light:hover {
    background-color: #002e573b;
}

.sidebar-category-content {
    max-height: 0;
    width: 100%;
    overflow: hidden;
}

.sidebar-category-content.open {
    overflow: visible;
    max-height: fit-content;
}

.sidebar-category-content.dark {}

.sidebar-category-content.light {}

/* The following classes are used to style the configuration options. */
.custom-configuration-select {
    padding: 2%;
    border-radius: 7px;
    cursor: pointer;
}
.custom-configuration-select.dark {
    color: white;
    background-color: rgb(97, 96, 96);
}
.custom-configuration-select.light {
    color: rgb(34, 34, 110);
    background-color: aliceblue;
}
.custom-configuration-select.dark:hover {}
.custom-configuration-select.light:hover {}

.custom-configuration-label {
    padding-right: 2%;
}

.custom-configuration-slider {
    padding: 2% 0;
}