@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light Mode (PADS) */
    --heading-light: #f5a800;
    --heading-light-rgb: 245, 168, 0;
    --main-bg-light: #002e57;
    --second-bg-light: #99cefd;
    --third-bg-light: #f3f3f3;
    --text-light: #ffffff;

    /* Dark Mode (Celonis) */
    --heading-dark: #5cfe50;
    --heading-dark-rgb: 92, 254, 80;
    --main-bg-dark: #000000;
    --second-bg-dark: #515151;
    --third-bg-dark: #505050;
    --text-dark: #90caf9;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.ocpnplace:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.ocpnarc:hover {
    cursor: pointer;
    stroke: red;
}

.ocpntransition:hover {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.5)
}