.import-button, .export-button {
    padding: 1vh 1vw;
    border-radius: 0.5rem;
    font-weight: bold;
    color: var(--heading-light);
    background-color: var(--third-bg-light);
    transition: background-color .2s ease, color .2s ease, box-shadow .2s ease;
    cursor: pointer;
}

.import-button:hover, .export-button:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(var(--heading-light-rgb), 0.5);
    color: var(--third-bg-light);
    background-color: var(--heading-light);
}

body.dark .import-button , body.dark .export-button {
    color: var(--heading-dark);
    background-color: var(--third-bg-dark);
}

body.dark .import-button:hover, body.dark .export-button:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(var(--heading-dark-rgb), 0.5);
    color: var(--third-bg-dark);
    background-color: var(--heading-dark);
}
