.header {
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background: linear-gradient(to bottom, rgb(94, 149, 250), var(--main-bg-light));
    color: var(--text-light);
}

.header h3 {
    flex: 1;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--heading-light);
}

.header .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 0.5;
}

/* Dark mode styles */
body.dark .header {
    background: linear-gradient(to bottom, var(--second-bg-dark), var(--main-bg-dark));
    color: var(--text-dark);
}

body.dark .header h3 {
    color: var(--heading-dark);
}

.icon-theme-toggle {
    cursor: pointer;
    flex: 0.05;
}

.icon-theme-toggle img:hover {
    filter: drop-shadow(2px 4px 6px var(--heading-light));
}

body.dark .icon-theme-toggle img:hover {
    filter: drop-shadow(2px 4px 6px var(--heading-dark));
}