.visualization-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    box-sizing: border-box;
    padding: 1rem; /* Margin around the visualization area */
    overflow: hidden; /* Prevent scrolling */
}

.visualization-area {
    flex: 1;
    background-color: #f0f0f0;
    border: 2px solid var(--heading-light);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}